In [1]:
import pandas as pd
import numpy as np


df = pd.read_csv('E:\Code dump\Major Project\Exported Data\Streams.csv')
df.head()

,Time,_id,data
0,2021-12-03T17:13:57.423512,61aa02fda8186ef959c5ec32,"[{""id"":""40286106267"",""user_id"":""100814397"",""us..."
1,2021-12-03T17:13:59.583095,61aa02ffa8186ef959c5ec34,"[{""id"":""40286106267"",""user_id"":""100814397"",""us..."
2,2021-12-03T17:14:03.774551,61aa0303a8186ef959c5ec36,"[{""id"":""40286106267"",""user_id"":""100814397"",""us..."
3,2021-12-03T17:14:09.295740,61aa0309a8186ef959c5ec38,"[{""id"":""40286106267"",""user_id"":""100814397"",""us..."
4,2021-12-03T17:14:21.089134,61aa0315a8186ef959c5ec3c,"[{""id"":""40286106267"",""user_id"":""100814397"",""us..."

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6339 entries, 0 to 6338
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    6245 non-null   object
 1   _id     6339 non-null   object
 2   data    1304 non-null   object
dtypes: object(3)
memory usage: 148.7+ KB

In [53]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1304 entries, 0 to 6326
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    1304 non-null   object
 1   _id     1304 non-null   object
 2   data    1304 non-null   object
dtypes: object(3)
memory usage: 40.8+ KB

In [55]:
import json

dict_format = {'time': [], 'user_name': [], 'viewer_count': []}

for r in df[['Time', 'data']].values:
    for entry in json.loads(r[1]):
        dict_format['time'].append(r[0])
        dict_format['user_name'].append(entry['user_name'])
        dict_format['viewer_count'].append(entry['viewer_count'])

newdf = pd.DataFrame(temp)
newdf.head()

                         time        user_name  viewer_count
0  2021-12-03T17:13:57.423512       Dota2RuHub         36319
1  2021-12-03T17:13:57.423512    Trainwreckstv         21182
2  2021-12-03T17:13:57.423512      FPSThailand         16704
3  2021-12-03T17:13:57.423512     stylishnoob4         15228
4  2021-12-03T17:13:57.423512  RiotGames_Korea         14226

In [70]:
newdf.groupby('user_name').max().sort_values('viewer_count', ascending=False)

                                    time  viewer_count
user_name
xQcOW         2021-12-07T16:40:39.478699        155926
Chess         2021-12-07T21:22:55.143743        136668
VALORANT      2021-12-07T21:22:55.143743        117767
TheGrefg      2021-12-07T21:22:55.143743        105866
auronplay     2021-12-06T17:53:41.979748         98669
...                                  ...           ...
its_iron      2021-12-07T16:38:18.519452          7014
QuarterJade   2021-12-07T16:42:34.728560          6980
qseng66       2021-12-04T10:03:09.529876          6721
PENTA         2021-12-04T10:03:09.529876          6691
Dmitry_Lixxx  2021-12-04T10:03:09.529876          6595

[167 rows x 2 columns]

In [35]:
json.loads(df['data'].values[0])

[{'id': '40286106267',
  'user_id': '100814397',
  'user_login': 'dota2ruhub',
  'user_name': 'Dota2RuHub',
  'game_id': '29595',
  'game_name': 'Dota 2',
  'type': 'live',
  'title': 'Team Spirit 0 - 0 Team Unique | bo3 | DPC EEU 2021/22 Winter Tour Division I | by Maelstorm & CrystalMay',
  'viewer_count': 36319,
  'started_at': '2021-12-03T10:05:39Z',
  'language': 'ru',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_dota2ruhub-{width}x{height}.jpg',
  'tag_ids': ['36a89a80-4fcd-4b74-b3d2-2c6fd9b30c95',
   '0569b171-2a2b-476e-a596-5bdfb45a1327'],
  'is_mature': False},
 {'id': '40282590523',
  'user_id': '71190292',
  'user_login': 'trainwreckstv',
  'user_name': 'Trainwreckstv',
  'game_id': '498566',
  'game_name': 'Slots',
  'type': 'live',
  'title': '18+ need w #ad | !twitter | !youtube | !podcast',
  'viewer_count': 21182,
  'started_at': '2021-12-02T14:55:48Z',
  'language': 'en',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_trainwreckstv-{width}x{height}.jpg',
  'tag_ids': ['4a132284-d774-42a7-8f6c-28bb0b0d4aee',
   '6ea6bca4-4712-4ab9-a906-e3336a9d8039',
   'c2839af5-f1d2-46c4-8edc-1d0bfbd85070'],
  'is_mature': True},
 {'id': '40286230667',
  'user_id': '38539112',
  'user_login': 'fpsthailand',
  'user_name': 'FPSThailand',
  'game_id': '493057',
  'game_name': 'PUBG: BATTLEGROUNDS',
  'type': 'live',
  'title': 'LEO PUBG Tournament NOV DAY 6',
  'viewer_count': 16704,
  'started_at': '2021-12-03T10:50:12Z',
  'language': 'th',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_fpsthailand-{width}x{height}.jpg',
  'tag_ids': ['f19c7524-c18d-41af-9f39-034c8d0b0fee'],
  'is_mature': True},
 {'id': '44655779837',
  'user_id': '50988750',
  'user_login': 'stylishnoob4',
  'user_name': 'stylishnoob4',
  'game_id': '516575',
  'game_name': 'VALORANT',
  'type': 'live',
  'title': 'ÊàëÁ≠âËß£ÊîæËÄÖ #THEUNLOCKERS #VALORANT',
  'viewer_count': 15228,
  'started_at': '2021-12-03T09:55:08Z',
  'language': 'ja',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_stylishnoob4-{width}x{height}.jpg',
  'tag_ids': ['6ba1d230-e52f-4d81-b1e0-41f25a8a9f5d'],
  'is_mature': False},
 {'id': '44655742653',
  'user_id': '107870305',
  'user_login': 'riotgames_korea',
  'user_name': 'RiotGames_Korea',
  'game_id': '21779',
  'game_name': 'League of Legends',
  'type': 'live',
  'title': '[Î°§ ÎèÑÎÑ§Ïù¥ÏÖò Ïªµ] Ïù∏ÌîåÎ£®Ïñ∏ÏÑú ÎèÑÎÑ§Ïù¥ÏÖò Îß§Ïπò DAY1 | Í∞±Í∏∞ÎèÑ ÎØ∏ÎÇ® vs ÎßâÎÇ¥Í∞Ä ÎßêÎåÄÍæ∏',
  'viewer_count': 14226,
  'started_at': '2021-12-03T09:46:02Z',
  'language': 'ko',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_riotgames_korea-{width}x{height}.jpg',
  'tag_ids': ['ab2975e3-b9ca-4b1a-a93e-fb61a5d5c3a4'],
  'is_mature': False},
 {'id': '44656030045',
  'user_id': '29578325',
  'user_login': 'beyondthesummit',
  'user_name': 'BeyondTheSummit',
  'game_id': '29595',
  'game_name': 'Dota 2',
  'type': 'live',
  'title': 'LIVE: Team Spirit vs Unique - DPC EEU Div 1 Winter Tour 2021/2022 w/ Lyrical & Trent',
  'viewer_count': 12707,
  'started_at': '2021-12-03T10:51:11Z',
  'language': 'en',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-{width}x{height}.jpg',
  'tag_ids': ['6ea6bca4-4712-4ab9-a906-e3336a9d8039',
   '36a89a80-4fcd-4b74-b3d2-2c6fd9b30c95'],
  'is_mature': False},
 {'id': '44655945149',
  'user_id': '49207184',
  'user_login': 'fps_shaka',
  'user_name': 'fps_shaka',
  'game_id': '460630',
  'game_name': "Tom Clancy's Rainbow Six Siege",
  'type': 'live',
  'title': '„É¨„Ç§„É≥„Éú„Éº„Ç∑„ÉÉ„ÇØ„Çπ „Ç∑„Éº„Ç∏Á∑¥Áøí„Åô„Çã\n#NoPlanNoGame',
  'viewer_count': 11909,
  'started_at': '2021-12-03T10:31:46Z',
  'language': 'ja',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_fps_shaka-{width}x{height}.jpg',
  'tag_ids': ['6ba1d230-e52f-4d81-b1e0-41f25a8a9f5d',
   'eaba0ad7-c4e1-4878-b37f-01308dbb65c8'],
  'is_mature': False},
 {'id': '40286093787',
  'user_id': '31089858',
  'user_login': 'dreadztv',
  'user_name': 'DreadzTV',
  'game_id': '138585',
  'game_name': 'Hearthstone',
  'type': 'live',
  'title': '–£–ª—å—Ç—Ä–∞–ª–∞—Å—Ç–µ—Ü–∫–∞—è –°—Ç—Ä–∏–º—Ö–∞—Ç–∞ –î—Ä–µ–¥–∞. –î–µ–Ω—å 2. !—Ä–∞—Å–ø–∏—Å–∞–Ω–∏–µ',
  'viewer_count': 11648,
  'started_at': '2021-12-03T10:01:34Z',
  'language': 'ru',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_dreadztv-{width}x{height}.jpg',
  'tag_ids': ['0569b171-2a2b-476e-a596-5bdfb45a1327'],
  'is_mature': False},
 {'id': '44655511373',
  'user_id': '552120296',
  'user_login': 'zackrawrr',
  'user_name': 'zackrawrr',
  'game_id': '24241',
  'game_name': 'Final Fantasy XIV Online',
  'type': 'live',
  'title': 'Baldwalker',
  'viewer_count': 11510,
  'started_at': '2021-12-03T08:57:35Z',
  'language': 'en',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_zackrawrr-{width}x{height}.jpg',
  'tag_ids': ['6ea6bca4-4712-4ab9-a906-e3336a9d8039'],
  'is_mature': False},
 {'id': '43968601772',
  'user_id': '117168642',
  'user_login': 'chowh1',
  'user_name': 'chowh1',
  'game_id': '512710',
  'game_name': 'Call of Duty: Warzone',
  'type': 'live',
  'title': 'üî• DIEU VIVANTH1 üî•   !Newmap',
  'viewer_count': 11202,
  'started_at': '2021-12-03T08:57:58Z',
  'language': 'fr',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_chowh1-{width}x{height}.jpg',
  'tag_ids': ['6f655045-9989-4ef7-8f85-1edcec42d648'],
  'is_mature': True},
 {'id': '44655570365',
  'user_id': '156037856',
  'user_login': 'fextralife',
  'user_name': 'Fextralife',
  'game_id': '513181',
  'game_name': 'Genshin Impact',
  'type': 'live',
  'title': 'Cozy Genshin with Tyr! ~ Cas on after!',
  'viewer_count': 10918,
  'started_at': '2021-12-03T09:07:38Z',
  'language': 'en',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_fextralife-{width}x{height}.jpg',
  'tag_ids': ['6ea6bca4-4712-4ab9-a906-e3336a9d8039'],
  'is_mature': False},
 {'id': '44651138813',
  'user_id': '125387632',
  'user_login': 'amouranth',
  'user_name': 'Amouranth',
  'game_id': '498592',
  'game_name': "I'm Only Sleeping",
  'type': 'live',
  'title': 'üéàBIRTHDAY SLEEPOVER STREAMüëÖüí¶!s-->social media linksüí¶NEW MERCH --> !waifuüí¶ !pobox !wishlist',
  'viewer_count': 10258,
  'started_at': '2021-12-03T00:13:21Z',
  'language': 'en',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_amouranth-{width}x{height}.jpg',
  'tag_ids': ['6ea6bca4-4712-4ab9-a906-e3336a9d8039',
   '6c27ea04-fceb-4a13-8e5e-2c500432c7ff'],
  'is_mature': False},
 {'id': '43968825452',
  'user_id': '20786541',
  'user_login': 'yogscast',
  'user_name': 'Yogscast',
  'game_id': '1696748945',
  'game_name': 'Recipe for Disaster',
  'type': 'live',
  'title': 'JINGLE JAM 2021 - DAY 3 - BIG RIPS!! w/ Ravs & who ya gonna call?? SIPS!',
  'viewer_count': 9764,
  'started_at': '2021-12-03T10:33:54Z',
  'language': 'en',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_yogscast-{width}x{height}.jpg',
  'tag_ids': ['6ea6bca4-4712-4ab9-a906-e3336a9d8039'],
  'is_mature': False},
 {'id': '43968705052',
  'user_id': '50597026',
  'user_login': 'ponce',
  'user_name': 'Ponce',
  'game_id': '1584745140',
  'game_name': 'Pok√©mon Brilliant Diamond/Shining Pearl',
  'type': 'live',
  'title': "PONCE - Oh l'addiction Pok√©mon [14h30 : Mario Party] [17h : Mario Party] !marioparty | !rs !prog !boutique",
  'viewer_count': 9679,
  'started_at': '2021-12-03T09:40:41Z',
  'language': 'fr',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_ponce-{width}x{height}.jpg',
  'tag_ids': ['6f655045-9989-4ef7-8f85-1edcec42d648'],
  'is_mature': True},
 {'id': '44655729133',
  'user_id': '138094916',
  'user_login': 'sinatraa',
  'user_name': 'sinatraa',
  'game_id': '516575',
  'game_name': 'VALORANT',
  'type': 'live',
  'title': 'SEN sinatraa | EU ranked from Berlin | !youngLA !newvid',
  'viewer_count': 9402,
  'started_at': '2021-12-03T09:42:40Z',
  'language': 'en',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_sinatraa-{width}x{height}.jpg',
  'tag_ids': ['6ea6bca4-4712-4ab9-a906-e3336a9d8039'],
  'is_mature': True},
 {'id': '43968599596',
  'user_id': '43102846',
  'user_login': 'shaunz',
  'user_name': 'Shaunz',
  'game_id': '513143',
  'game_name': 'Teamfight Tactics',
  'type': 'live',
  'title': 'SHAUNZ - J-1 GOLDEN SPATULA CUP üî• !overlay',
  'viewer_count': 8960,
  'started_at': '2021-12-03T08:57:06Z',
  'language': 'fr',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_shaunz-{width}x{height}.jpg',
  'tag_ids': ['6f655045-9989-4ef7-8f85-1edcec42d648'],
  'is_mature': False},
 {'id': '40286304875',
  'user_id': '70075625',
  'user_login': 'silvername',
  'user_name': 'SilverName',
  'game_id': '138585',
  'game_name': 'Hearthstone',
  'type': 'live',
  'title': 'DUMAU s1lverRabotyaga',
  'viewer_count': 8249,
  'started_at': '2021-12-03T11:11:48Z',
  'language': 'ru',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_silvername-{width}x{height}.jpg',
  'tag_ids': ['476b39d1-6ed0-4561-b054-9ad82bf28a8e',
   '0569b171-2a2b-476e-a596-5bdfb45a1327'],
  'is_mature': False},
 {'id': '44656163645',
  'user_id': '103825127',
  'user_login': 'hanryang1125',
  'user_name': 'ÌíçÏõîÎüâ',
  'game_id': '509658',
  'game_name': 'Just Chatting',
  'type': 'live',
  'title': '  ÌíçÏõîÎüâ',
  'viewer_count': 7626,
  'started_at': '2021-12-03T11:16:32Z',
  'language': 'ko',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_hanryang1125-{width}x{height}.jpg',
  'tag_ids': ['ab2975e3-b9ca-4b1a-a93e-fb61a5d5c3a4'],
  'is_mature': True},
 {'id': '44654522589',
  'user_id': '29722828',
  'user_login': 'never_loses',
  'user_name': 'NeVeR_LosEs',
  'game_id': '21779',
  'game_name': 'League of Legends',
  'type': 'live',
  'title': '12/3  0.0',
  'viewer_count': 7597,
  'started_at': '2021-12-03T05:44:42Z',
  'language': 'zh',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_never_loses-{width}x{height}.jpg',
  'tag_ids': ['74c92063-a389-4fd2-8460-b1bb82b04ec7'],
  'is_mature': False},
 {'id': '44655254461',
  'user_id': '102845970',
  'user_login': 'kimdoe',
  'user_name': 'ÍπÄÎèÑ',
  'game_id': '89250567',
  'game_name': 'Grand Theft Auto: San Andreas ‚Äì The Definitive Edition',
  'type': 'live',
  'title': 'GTA ÏÇ∞ÏïàÎìúÎ†àÏïÑÏä§ Î¶¨ÎßàÏä§ÌÑ∞',
  'viewer_count': 7558,
  'started_at': '2021-12-03T08:00:27Z',
  'language': 'ko',
  'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_kimdoe-{width}x{height}.jpg',
  'tag_ids': ['ab2975e3-b9ca-4b1a-a93e-fb61a5d5c3a4'],
  'is_mature': True}]

In [46]:
for e in json.loads(df[['Time', 'data']].values[0][1]):
    print(e['viewer_count'])

36319
21182
16704
15228
14226
12707
11909
11648
11510
11202
10918
10258
9764
9679
9402
8960
8249
7626
7597
7558

In [3]:
test = pd.DataFrame(df['data'])
test.head()

                                                data
0  [{"id":"40286106267","user_id":"100814397","us...
1  [{"id":"40286106267","user_id":"100814397","us...
2  [{"id":"40286106267","user_id":"100814397","us...
3  [{"id":"40286106267","user_id":"100814397","us...
4  [{"id":"40286106267","user_id":"100814397","us...

In [10]:
test.iloc(0)

In [1]:
import pandas as pd
import numpy as np

newdf = pd.read_csv('E:\Code dump\Major Project\Exported Data\streams_processed.csv')
newdf.head()

   Unnamed: 0                        time        user_name  viewer_count
0           0  2021-12-03T17:13:57.423512       Dota2RuHub         36319
1           1  2021-12-03T17:13:57.423512    Trainwreckstv         21182
2           2  2021-12-03T17:13:57.423512      FPSThailand         16704
3           3  2021-12-03T17:13:57.423512     stylishnoob4         15228
4           4  2021-12-03T17:13:57.423512  RiotGames_Korea         14226

In [53]:
# def fetch_viewcount(name, filepath):
#     newdf = pd.read_csv(filepath)
#     return newdf[['time', 'viewer_count']].loc[newdf['user_name'] == name]

def fetch_viewcount(name, filepath):
    newdf = pd.read_csv(filepath)
    newdf = newdf.loc[newdf['user_name'] == name]
    newdf['time'] = int(np.ceil(dp.parse(newdf['time'].values[0]).timestamp()))
    newdf.set_index('time', drop=True)
    return newdf[['time', 'viewer_count']]

chart_data = fetch_viewcount('Fextralife', 'E:\Code dump\Major Project\Exported Data\streams_processed.csv')
chart_data

             time  viewer_count
10     1638531838         10918
30     1638531838         10918
50     1638531838         10918
70     1638531838         10918
90     1638531838         10918
...           ...           ...
25987  1638531838         15553
26007  1638531838         15856
26027  1638531838         15856
26049  1638531838         14392
26067  1638531838         16813

[747 rows x 2 columns]

In [37]:
chart_data['time'].values[0][8:10]+'-'+chart_data['time'].values[0][11:16]


31713
31714
40101

'03-17:13'

In [39]:
import dateutil.parser as dp
t = '1984-06-02T19:05:00.000Z'
parsed_t = dp.parse(t)
t_in_seconds = parsed_t.timestamp()
print(t)
print(t_in_seconds)

1984-06-02T19:05:00.000Z
455051100.0

In [51]:
print(int(np.ceil(chart_data['time'].values[0])))

1638531838

In [49]:
print(dp.parse(chart_data['time'].values[0]).timestamp())

TypeError: Parser must be a string or character stream, not float64